*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tolgoi{
    width: 100%;
    height: 100%;
    position: relative;
}
.grad{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(from 171deg ,black 0deg, black 18.25deg, white 18.25deg, white 36.5deg, black 36.5deg, black 54.75deg, white 54.75deg, white 73deg, black 73deg, black 91.25deg, white 91.25deg, white 109.5deg, black 109.5deg, black 127.75deg, white 127.75deg, white 146deg, black 146deg, black 164.25deg, white 164.25deg, white 182.5deg, black 182.5deg, black 200.75deg, white 200.75deg, white 219deg, black 219deg, black 237.25deg, white 237.25deg, white 255.5deg, black 255.5deg, black 273.75deg, white 273.75deg, white 292deg, black 292deg, black 310.25deg, white 310.25deg, white 328.5deg, black 328.5deg, black 346.75deg, white 346.75deg);
    border-radius: 100%;
    border: 5px solid black;
}
.grad1{
    display: flex;
    position: absolute;
    top: 243px;
    left: 243px;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    background-image: conic-gradient(black 0% 50%, black 50% 100%);
    border-radius: 50%;
}
.grad2{
    display: flex;
    position: absolute;
    top: 163px;
    left: 163px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-image: conic-gradient(from 118deg ,black 0deg, black 18.25deg, white 18.25deg, white 36.5deg, black 36.5deg, black 54.75deg, white 54.75deg, white 73deg, black 73deg, black 91.25deg, white 91.25deg, white 109.5deg, black 109.5deg, black 127.75deg, white 127.75deg, white 146deg, black 146deg, black 164.25deg, white 164.25deg, white 182.5deg, black 182.5deg, black 200.75deg, white 200.75deg, white 219deg, black 219deg, black 237.25deg, white 237.25deg, white 255.5deg, black 255.5deg, black 273.75deg, white 273.75deg, white 292deg, black 292deg, black 310.25deg, white 310.25deg, white 328.5deg, black 328.5deg, black 346.75deg, white 346.75deg);
}