@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Lobster', cursive;
}

#right1 {
  width: 50%;
  float: left;
  top: 0px;
  right: 0px;
  z-index: -1;
}

#left1 {
  width: 50%;
  float: right;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.button {
  position: absolute;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 25%;
  top: 90vh;
}

.button a {
  color: #fff;
  text-decoration: none;
  padding-bottom: 5px;
}

.button a:hover {
  border-bottom: 2px #ffffff solid;
}

.image {
  background-image: url(/pexels-travis-blessing-1363876.jpg);
  height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.image p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
}

.about-cont .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about-cont .about .about-long {
  width: 50%;
  height: 100vh;
  background: #422680;
}

.about-cont .about .about-long p {
  color: #fff;
  font-size: 50px;
  text-align: center;
  padding-top: 100px;
}

.about-cont .about .about-long .button-1 {
  width: 70%;
  margin-left: 15%;
  margin-top: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about-cont .about .about-long .button-1 a {
  text-align: center;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  padding-bottom: 5px;
}

.about-cont .about .about-long .button-1 a:hover {
  border-bottom: 5px #f54952 solid;
}

.about-cont .about .about-text {
  width: 50%;
  height: 200vh;
  margin-top: 10vh;
}

.about-cont .about .about-text p {
  text-align: left;
  font-size: 20px;
  margin-left: 5%;
}

.about-cont .about .about-text h2 {
  text-align: center;
}

.profile-img {
  width: 15%;
  height: 15%;
  margin-left: 42%;
  margin-top: 1vh;
  border: #ae2d68 2px solid;
}

.profile-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.images-cont .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.images-cont .images .images-stay {
  width: 50%;
}

.images-cont .images .images-stay img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.images-cont .images .images-scroll {
  width: 50%;
  height: 100vh;
  background-color: #ae2d68;
}

.images-cont .images .images-scroll p {
  color: #fff;
  text-align: center;
  padding-top: 100px;
  font-size: 50px;
}

.images-cont .images .images-scroll .button-1 {
  width: 70%;
  margin-left: 15%;
  margin-top: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.images-cont .images .images-scroll .button-1 a {
  text-align: center;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  padding-bottom: 5px;
}

.images-cont .images .images-scroll .button-1 a:hover {
  border-bottom: 5px #422680 solid;
}

.contact-cont .contact {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact-cont .contact .contact-left {
  width: 50%;
  background-color: #280659;
}

.contact-cont .contact .contact-left p {
  color: #fff;
  text-align: center;
  padding-top: 100px;
  font-size: 50px;
}

.contact-cont .contact .contact-left .button-1 {
  width: 70%;
  margin-left: 15%;
  margin-top: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact-cont .contact .contact-left .button-1 a {
  text-align: center;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  padding-bottom: 5px;
}

.contact-cont .contact .contact-left .button-1 a:hover {
  border-bottom: 5px #ffffff solid;
}

.contact-cont .contact .contact-right {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-cont .contact .contact-right .contact .links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 5vh;
}

.contact-cont .contact .contact-right .contact .links a {
  color: #ae2d68;
  font-size: 30px;
}

.contact-cont .contact .contact-right .images-cont {
  width: 100%;
  height: 100%;
}

.contact-cont .contact .contact-right .images-cont p {
  text-decoration: none;
  text-align: center;
  margin-bottom: 5vh;
}

.contact-cont .contact .contact-right .images-cont img {
  margin-left: 25%;
  width: 50%;
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

.contact-cont .contact .contact-right .medeelel {
  width: 100%;
}

.contact-cont .contact .contact-right .medeelel p {
  color: #000000;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

.contact-cont .contact .contact-right .medeelel a {
  color: #ae2d68;
  font-size: 20px;
  text-align: center;
}

.spacer {
  height: 5%;
}

@media screen and (max-width: 1024px) {
  nav {
    display: none;
  }
  .about-cont {
    display: none;
  }
  .images-cont {
    display: none;
  }
  .contact-cont {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .mobile .mobile-start .mobile-header {
    width: 100%;
    height: 100vh;
  }
  .mobile .mobile-start .mobile-header .mobile-image {
    background-image: url(/pexels-travis-blessing-1363876.jpg);
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mobile .mobile-start .mobile-header .mobile-image p {
    color: #fff;
    text-align: center;
    font-size: 60px;
    padding-top: 10px;
  }
  .mobile .mobile-start .mobile-about {
    width: 100%;
    height: 100vh;
    background-color: #422680;
  }
  .mobile .mobile-start .mobile-about p {
    font-size: 70px;
    color: #ffffff;
    text-align: center;
    padding-top: 50%;
  }
  .mobile .mobile-start .mobile-about-text {
    height: 100vh;
    text-align: center;
  }
  .mobile .mobile-start .mobile-about-text p {
    font-size: 30px;
  }
  .mobile .mobile-start .mobile-images {
    width: 100%;
    height: 100vh;
    background-color: #f54952;
  }
  .mobile .mobile-start .mobile-images p {
    font-size: 70px;
    color: #ffffff;
    text-align: center;
    padding-top: 50%;
  }
  .mobile .mobile-start .mobile-images-real {
    width: 100%;
  }
  .mobile .mobile-start .mobile-images-real img {
    width: 100%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .mobile .mobile-start .mobile-contact {
    width: 100%;
    height: 100vh;
    background-color: #422680;
  }
  .mobile .mobile-start .mobile-contact p {
    font-size: 70px;
    color: #ffffff;
    text-align: center;
    padding-top: 50%;
  }
  .mobile .mobile-start .mobile-contact1 {
    width: 100%;
    height: 50vh;
  }
  .mobile .mobile-start .mobile-contact1 .medeelel {
    width: 100%;
    margin-top: 200px;
  }
  .mobile .mobile-start .mobile-contact1 .medeelel p {
    color: #000000;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
  }
  .mobile .mobile-start .mobile-contact1 .medeelel a {
    color: #ae2d68;
    font-size: 50px;
    text-align: center;
  }
  .mobile .mobile-start .mobile-contact1 .contact .links {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 5vh;
  }
  .mobile .mobile-start .mobile-contact1 .contact .links a {
    color: #ae2d68;
    font-size: 50px;
  }
  .mobile .mobile-start .mobile-contact1 .images-cont {
    width: 100%;
    height: 100%;
  }
  .mobile .mobile-start .mobile-contact1 .images-cont p {
    text-decoration: none;
    text-align: center;
    margin-bottom: 5vh;
  }
  .mobile .mobile-start .mobile-contact1 .images-cont img {
    margin-left: 25%;
    width: 50%;
    height: 50%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media screen and (min-width: 1024px) {
  .mobile {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */